@charset "utf-8";

body,h1,h2,h3,ul,ol,p,figure {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"宋体",simsun,sans-serif;
}
ul,ol {
    list-style: outside none none;
}
a {
    text-decoration: none;
}
.none {
    display: none;
}
#header {
    width: 100%;
    min-width: 1263px;
    height: 70px;
    background-color: #333;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 9999;
}
#header .center {
    width: 1263px;
    height: 70px;
    margin: 0 auto;
}
#header .logo {
    width: 240px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    float: left;
}
#header .link {
    width: 650px;
    height: 70px;
    line-height: 70px;
    color: #eee;
    float: right;
}
#header .link li {
    width: 120px;
    text-align: center;
    float: left;
}
#header .link a {
    color: #eee;
    display: block;
}
#header .link a:hover,
#header .active a {
    background-color: #000;
}
#footer {
    height: 360px;
    background-color: #222;
    clear: both;
    position: relative;
    top: 20px;
}
#footer .top {
    width: 1263px;
    height: 281px;
    margin: 0 auto;
    text-align: center;
}
#footer .block {
    width: 410px;
    height: 280px;
    display: inline-block;
    text-align: left;
    color: #ccc;
    vertical-align: top;
}
#footer h2 {
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0 0 20px;
}
#footer hr {
    width: 90%;
    border: 1px dashed #333;
}
#footer ul {
    font-size: 18px;
    color: #777;
    text-indent: 20px;
    line-height: 2;
}
#footer .bottom {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #777;
    background-color: #000;
    border-top: 1px solid #444;
}