@charset "utf-8";

body,h1,h2,h3,ul,ol,p,figure {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"宋体",simsun,sans-serif;
}
ul,ol {
    list-style: outside none none;
}
a {
    text-decoration: none;
}
.none {
    display: none;
}
#header {
    width:100%;
    /*最小也不能比下边那个div小，防止缩小的时候出现空白*/
    min-width:1263px;
    height:70px;
    background-color:#333;
    box-shadow:0 1px 10px rgba(0,0,0,0.3);
    position:relative;
    z-index:9999;
}
#header div.center {
    width:1263px;
    height:70px;
    margin:0 auto;
}
#header .logo {
    width:240px;
    height:70px;
    background-image: url(../img/logo.png);
    text-indent:-9999px;
    float:left;
}
#header .link {
    width:650px;
    float:right;
    height:70px;
    line-height:70px;
    color:#eee;
}
#header .link li {
    width:120px;
    text-align:center;
    float:left;
}
#header .link li a {
    display:block;
    color:#eee;
}
#header .link li a:hover ,#header .active a {
    background-color:#000;
}
/*1280的屏幕就显示中间部分，而随着浏览器的不断增大，显示的内容就会越多，超过1920让图片居中*/
#search {
    width:100%;
    /*最小也不能比整个header布局小，防止缩小的时候出现空白*/
    min-width:1263px;
    height:600px;
    background:url(../img/search.jpg) no-repeat center;
    position:relative;
}
#search .center {
    width:600px;
    height:60px;
    background-color:#000;
    position:absolute;
    top:50%;
    left:50%;
    margin:-30px 0 0 -300px;
    border-radius:10px;
    opacity:0.6;
}
/*width设置100%，就是为了无论分辨率多大，它会根据分辨率的大小来调整本身图片的大小，永远都是100%，设置了center，背景居中平铺的话，那么它会居中，根据大小来*/
#search .search {
    width: 446px;
    height: 52px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -296px;
    color: #666;
    border: 1px solid #666;
    border-radius: 10px;
    font-size: 24px;
    padding: 0 10px;
    outline: none;
}
#search .button {
    width: 120px;
    height: 54px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 175px;
    color: #666;
    border: 1px solid #666;
    border-radius: 10px;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
#tour {
    width:1263px;
    height:1150px;
    margin:30px auto;
    text-align:center;
}
#tour .center h2 {
    font-size:45px;
    letter-spacing: 2px;
    color:#666;
    margin:10px 0;
}
#tour .center p {
    color:#666;
    margin:10px 0;
}
#tour figure {
    border:1px solid #ddd;
    /*设置行内块级元素*/
    display:inline-block;
    padding:4px;
    border-radius: 4px;
    margin:15px 12px;
    /*限制下长度*/
    width:380px;
    text-align:left;
    position:relative;
}
#tour figure img {
    vertical-align: middle;
}
#tour figure figcaption {
    color:#777;
    font-size:14px;
    padding:7px 0 5px 0;
    letter-spacing:1px;
    line-height:1.5;
}
#tour .title {
    color:#333;
    font-weight:normal;
}
#tour .sat {
    float:right;
    font-size:13px;
    color:#999;
    font-style:normal;
    position:relative;
    top:5px;
    right:5px;
}
#tour .price {
    color:#f60;
    font-size:14px;
}
#tour .price strong {
    font-size:20px;
    letter-spacing: 1px;
}
#tour .type {
    width:90px;
    height:25px;
    line-height:25px;
    text-align:center;
    border-bottom-right-radius: 4px;
    background-color:#59b200;
    font-size:14px;
    color:#fff;
    letter-spacing: 1px;
    position:absolute;
    top:4px;
    left:4px;
}
#footer {
    height: 360px;
    background-color: #222;
    clear: both;
    position: relative;
    top: 20px;
}
#footer .top {
    width: 1263px;
    height: 281px;
    margin: 0 auto;
    text-align: center;
}
#footer .block {
    width: 410px;
    height: 280px;
    display: inline-block;
    text-align: left;
    color: #ccc;
    vertical-align: top;
}
#footer h2 {
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0 0 20px;
}
#footer hr {
    width: 90%;
    border: 1px dashed #333;
}
#footer ul {
    font-size: 18px;
    color: #777;
    text-indent: 20px;
    line-height: 2;
}
#footer .bottom {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #777;
    background-color: #000;
    border-top: 1px solid #444;
}
