<!DOCTYPE html>
<html ng-app="flexboxDemoApp">

	<head>
		<meta charset="UTF-8">
		<title>border属性试验场</title>
		<link rel="stylesheet" href="lib/angular/angular-material.css">
		<style type="text/css">
			body {
				padding: 10px;
			}
			.ctrl {
				border-right: 1px solid rgba(0, 0, 0, .1);
				padding: 10px;
				min-height: 720px;
			}
			
			.show {
				padding: 10px;
			}
			.show .demo{
				width:200px;
				height:200px;
			}
		</style>
	</head>

	<body ng-controller="AppCtrl">
		<div layout-gt-md="row" layout="column">
			<div class="ctrl right-padding" flex="30" layout="column" layout-align="left top">
				<h2>控制区</h2>
				<p>测试border属性用法-上下左右属性分别设置</p>
				<h3>宽和高</h3>
				<div layout="row" layout-align="center center">
					<div flex="40">width: {{width}}</div>
					<md-slider flex="60" min="0" max="200" ng-model="width" aria-label="width"></md-slider>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">height: {{height}}</div>
					<md-slider flex="60" min="0" max="200" ng-model="height" aria-label="width"></md-slider>
				</div>
				<h3>top属性</h3>
				<div layout="row" layout-align="center center">
					<div flex="40">border-top-width: {{topWidth}}</div>
					<md-slider flex="60" min="0" max="50" ng-model="topWidth" aria-label="width"></md-slider>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">border--top-style: {{topStyle}}</div>
					<md-select flex="60" ng-model="topStyle" aria-label="align">
						<md-option>none</md-option>
						<md-option>hidden</md-option>
						<md-option>dotted</md-option>
						<md-option>dashed</md-option>
						<md-option>solid</md-option>
						<md-option>double</md-option>
						<md-option>groove</md-option>
						<md-option>ridge</md-option>
						<md-option>inset</md-option>
						<md-option>outset</option>
					</md-select>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">border-top-color: {{topColor}}</div>
					<md-select flex="60" ng-model="topColor" aria-label="align">
						<md-option>black</md-option>
						<md-option>red</md-option>
						<md-option>green</md-option>
						<md-option>blue</md-option>
						<md-option>pink</md-option>
						<md-option>orange</md-option>
						<md-option>purple</md-option>
						<md-option>fuchsia</md-option>
						<md-option>yellow</md-option>
						<md-option>teal</option>
						<md-option>transparent</option>
					</md-select>
				</div>
				<h3>right属性</h3>
				<div layout="row" layout-align="center center">
					<div flex="40">border-right-width: {{rightWidth}}</div>
					<md-slider flex="60" min="0" max="50" ng-model="rightWidth" aria-label="width"></md-slider>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">border-right-style: {{rightStyle}}</div>
					<md-select flex="60" ng-model="rightStyle" aria-label="align">
						<md-option>none</md-option>
						<md-option>hidden</md-option>
						<md-option>dotted</md-option>
						<md-option>dashed</md-option>
						<md-option>solid</md-option>
						<md-option>double</md-option>
						<md-option>groove</md-option>
						<md-option>ridge</md-option>
						<md-option>inset</md-option>
						<md-option>outset</option>
					</md-select>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">border-right-color: {{rightColor}}</div>
					<md-select flex="60" ng-model="rightColor" aria-label="align">
						<md-option>black</md-option>
						<md-option>red</md-option>
						<md-option>green</md-option>
						<md-option>blue</md-option>
						<md-option>pink</md-option>
						<md-option>orange</md-option>
						<md-option>purple</md-option>
						<md-option>fuchsia</md-option>
						<md-option>yellow</md-option>
						<md-option>teal</option>
						<md-option>transparent</option>
					</md-select>
				</div>
				<h3>bottom属性</h3>
				<div layout="row" layout-align="center center">
					<div flex="40">border-bottom-width: {{bottomWidth}}</div>
					<md-slider flex="60" min="0" max="50" ng-model="bottomWidth" aria-label="width"></md-slider>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">border-bottom-style: {{bottomStyle}}</div>
					<md-select flex="60" ng-model="bottomStyle" aria-label="align">
						<md-option>none</md-option>
						<md-option>hidden</md-option>
						<md-option>dotted</md-option>
						<md-option>dashed</md-option>
						<md-option>solid</md-option>
						<md-option>double</md-option>
						<md-option>groove</md-option>
						<md-option>ridge</md-option>
						<md-option>inset</md-option>
						<md-option>outset</option>
					</md-select>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">border-bottom-color: {{bottomColor}}</div>
					<md-select flex="60" ng-model="bottomColor" aria-label="align">
						<md-option>black</md-option>
						<md-option>red</md-option>
						<md-option>green</md-option>
						<md-option>blue</md-option>
						<md-option>pink</md-option>
						<md-option>orange</md-option>
						<md-option>purple</md-option>
						<md-option>fuchsia</md-option>
						<md-option>yellow</md-option>
						<md-option>teal</option>
						<md-option>transparent</option>
					</md-select>
				</div>
				<h3>left属性</h3>
				<div layout="row" layout-align="center center">
					<div flex="40">border-left-width: {{leftWidth}}</div>
					<md-slider flex="60" min="0" max="50" ng-model="leftWidth" aria-label="width"></md-slider>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">border-left-style: {{leftStyle}}</div>
					<md-select flex="60" ng-model="leftStyle" aria-label="align">
						<md-option>none</md-option>
						<md-option>hidden</md-option>
						<md-option>dotted</md-option>
						<md-option>dashed</md-option>
						<md-option>solid</md-option>
						<md-option>double</md-option>
						<md-option>groove</md-option>
						<md-option>ridge</md-option>
						<md-option>inset</md-option>
						<md-option>outset</option>
					</md-select>
				</div>
				<div layout="row" layout-align="center center">
					<div flex="40">border-left-color: {{leftColor}}</div>
					<md-select flex="60" ng-model="leftColor" aria-label="align">
						<md-option>black</md-option>
						<md-option>red</md-option>
						<md-option>green</md-option>
						<md-option>blue</md-option>
						<md-option>pink</md-option>
						<md-option>orange</md-option>
						<md-option>purple</md-option>
						<md-option>fuchsia</md-option>
						<md-option>yellow</md-option>
						<md-option>teal</option>
						<md-option>transparent</option>
					</md-select>
				</div>
			</div>
			<div class="show" flex="70" layout="column">
				<h2>预览区</h2>
				<p>拖动滑动条之后，在这里预览边框变化</p>
				<div class="demo" style="width:{{width}}px;height:{{height}}px;border-top-width:{{topWidth}}px;border-top-style:{{topStyle}};border-top-color:{{topColor}};border-right-width:{{rightWidth}}px;border-right-style:{{rightStyle}};border-right-color:{{rightColor}};border-bottom-width:{{bottomWidth}}px;border-bottom-style:{{bottomStyle}};border-bottom-color:{{bottomColor}};border-left-width:{{leftWidth}}px;border-left-style:{{leftStyle}};border-left-color:{{leftColor}};">
				</div>
			</div>
		</div>
		<!-- AngularJS -->
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-animate.min.js"></script>
		<script src="lib/angular/angular-aria.min.js"></script>
		<!-- Angular Material JavaScript -->
		<script src="lib/angular/angular-material.js"></script>
		<!-- App.js -->
		<script type="text/javascript">
			// Declare the flexboxDemoApp module and its dependency 'ngMaterial'
			var app = angular.module('flexboxDemoApp', ['ngMaterial']);
			// Declare the AppCtrl controller
			app
				.controller('AppCtrl', ['$scope', function($scope) {
					$scope.topWidth = $scope.rightWidth =$scope.bottomWidth =$scope.leftWidth =2; //px
					$scope.topStyle = $scope.rightStyle =$scope.bottomStyle =$scope.leftStyle ='solid';
					$scope.topColor = $scope.rightColor =$scope.bottomColor =$scope.leftColor ='black';
					$scope.width=100;
					$scope.height=100;

				}]);
		</script>
	</body>

</html>
